.App {
  background: #000;
  height: 100vh;
  text-align: center;
  display: grid;
  place-content: center;
}

main {
  border-radius: 3px;
  aspect-ratio: 9/16;
  width: 375px;
  display: block;
  height: auto;
}
